<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC  
	"-//mybatis.org//DTD Config 3.0//EN"       
    "http://mybatis.org/dtd/mybatis-3-config.dtd">    
<configuration>
	<!-- <typeAliases>
		<typeAlias alias="SystemMenuDTO" type="com.loan.pms.system.dto.SystemMenuDTO"/>
	</typeAliases> -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
    <mappers>
    	<mapper resource="com/loan/pms/common/dao/sql/common.xml"></mapper>
    	<mapper resource="com/loan/pms/system/dao/sql/system.xml"></mapper>
    	<mapper resource="com/loan/pms/product/dao/sql/product.xml"></mapper>
    	<mapper resource="com/loan/pms/quartz/dao/sql/quartzJob.xml"></mapper>
    </mappers>
</configuration>