<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loan.pms.system.dao.SystemDao">
    <select id="loginSystem" parameterType="java.util.Map" resultType="java.lang.String">
        select user_name
        from pms_um_info
        where um_id = #{umId,jdbcType=VARCHAR} and
        	pass_word = #{passWord,jdbcType=VARCHAR} and
        	status = 'Y'
    </select>
    
    <select id="queryUserName" parameterType="java.lang.String" resultType="java.lang.String">
        select user_name
        from pms_um_info
        where um_id = #{umId,jdbcType=VARCHAR} and
        	status = 'Y'
    </select>
    
    <select id="querySystemMenuList" resultType="com.loan.pms.system.dto.SystemMenuDTO">
        select right_code   as "menuCode",
        	right_name   as "menuName",
       		parent_code  as "parentCode",
       		right_action as "menuAction"
  		from pms_right_info pri
 		where pri.right_type = 'MENU'
   			and pri.status = 'Y'
 			start with pri.parent_code is null
			connect by prior pri.right_code = pri.parent_code
			order by pri.right_code
    </select>
    
    <select id="queryDicCodeItem" parameterType="java.lang.String" resultType="java.util.Map">
        select pdd.code_no as codeNo, 
        	pdd.code_name as codeName, 
        	pdd.item_no as itemNo, 
        	pdd.item_name as itemName, 
        	pdd.sort_no as sortNo
  		from pms_data_dictionary pdd
 		where pdd.code_no = #{codeNo}
    </select>
</mapper>